body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-modern {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: orange;
    /* transition: all .4s;  */
}

.btn-modern:hover {
    cursor: pointer;
    animation-name: my-animation;
    animation-duration: 0.4s;
    /* animation-duration: 4s;    */
}

@keyframes my-animation {
    from {
    }
    to {
        background-color: #dba135cb;
        color: white;
        box-shadow: 5px 10px #888888;
        transform: translateY(-55px);
    }
}
