/* https://codepen.io/enxaneta/full/adLPwv */

.flex{
    display: flex; 
    justify-content: space-between;  
    align-items: center;
    /* flex-wrap: nowrap;  */
    background-color: yellow;
    height: 30rem;   
}

.contenido-1{    
    background-color: white;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}
.contenido-2{
    background-color: white;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}
.contenido-3{
    background-color: white;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}